.ProjectSum{
    background-color:#FFFFFF;
    margin: 0 auto;
    float: none;
    font-size: 12px;
}
.cardcustom{
    box-shadow: none;
    margin-bottom: 20px;
}
.content-body{
    margin-left: 35px;
    margin-right: 35px;
}
.content-text{
    color:black;
}
.card-body-paragraph{
    width: 200px;
}
.content-top{
    color: #5E5873;
    margin-bottom: 10px;
    font-weight: 600;
    font-size:18px;
    margin-left: 20px;
}
.tableresponsive {
    border: 1px solid #d8d6de;
    border-radius: 0.357rem;
    margin-bottom: 20px !important;
    border-collapse: separate;
    border-spacing: 0px;
}
.content-label{
    margin-bottom: 10px;
    font-weight: 700;
}
.content-center{
    text-align: center;
}
.content-number{
    text-align: center;
    color: #FF9F43;
}
.card-sm{
    border: 1px solid #d8d6de;
    border-radius: 0.357rem;
    padding: 0.65rem;
    height:38px;
}
.card-lg{
    border: 1px solid #d8d6de;
    border-radius: 0.357rem;
    padding: 0.65rem;
    height:132px;
}