.container-vuexy {
  // background-color: black;
  min-width: 77.5%;
  // position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 576px) {
  .container-vuexy {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container-vuexy {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container-vuexy {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container-vuexy {
    max-width: 1140px;
  }
}