@import "../colors";

.badge-vuexy-success {
  background-color: rgba($green, 0.12);
  color: $green;
}

.badge-vuexy-rejected {
  background-color: rgba($red, 0.12);
  color: $red;
}

.badge-vuexy-revise {
  background-color: rgba($orange, 0.12);
  color: $orange;
}

.badge-vuexy-secondary {
  background-color: rgba($dark-grey, 0.12);
  color: $dark-grey;
}