@import "../colors";
@import "../typography";

.button {
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 10px;
}

.button-large {
  width: 10em;
  height: 3em;
}

.button-large-full {
  width: 100%;
  height: 3em;
}

.button-small {
  width: 7em;
  height: 2.25em;
}

.button-small-full {
  width: 100%;
  height: 2.25em;
}

.button-primary {
  background-color: $green;
  color: $white;
  border-color: transparent;

  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    background-color: $green;
    color: $white;
    border-color: transparent;
    box-shadow: none;
    outline: none;
  }
}

.button-secondary {
  background-color: $white;
  color: $black;
  border-color: $black;

  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    background-color: $white;
    color: $black;
    border-color: $black;
    box-shadow: none;
    outline: none;
  }
}

.button-destructive {
  background-color: $white;
  color: $red;
  border-color: $black;

  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    background-color: $white;
    color: $red;
    border-color: $black;
    box-shadow: none;
    outline: none;
  }
}

.button-disable {
  background-color: rgba($green, 0.5);
  color: $white;
  border-color: transparent;
}
