@import "../colors";

.ideas-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 0 1rem;
  height: 3.5em;
  background-color: $white;
  border-radius: 12px 12px 0 0;
}

.card-header-photo {
  border-radius: 50%;
  object-fit: cover;
}

.card-badge {
  padding: 0.5rem 1rem;
  background: linear-gradient(
      0deg,
      rgba(255, 205, 26, 0.1),
      rgba(255, 205, 26, 0.1)
    ),
    $white;
  border: 1px solid rgba(255, 205, 26, 0.8);
  border-radius: 8px;
}

.konvensi-badge-position {
  position: absolute;
  top: 0.75em;
  right: 0.75em;
}

.ideas-card-image-container {
  position: relative;
  padding-top: 58%;
  width: 100%;
}

.konvensi-card-image-container {
  position: relative;
  padding-top: 72%;
  width: 100%;
}

.konvensi-card-image-child {
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}