@import "../colors";

.dropdown-card {
  margin-top: 0;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0.5rem;
  border: none;
  border-radius: 12px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.header-dropdown-card {
  width: 16.875em;
}

.header-dropdown-item {
  padding: 0.5rem 1.5rem;

  &:hover {
    background-color: rgba($green, 0.05);
    color: $green;
  }
}

.header-dropdown-item-monev {
  padding: 0.5rem 1.5rem;

  &:hover {
    background-color: rgba($purple, 0.05);
    color: $purple;
  }
}

.dropdown-logout-item {
  &:hover {
    background-color: rgba($red, 0.05);
    color: $red;
  }
}

.filter-dropdown-card {
  margin-left: -10em;
  padding: 1rem;
  width: 1120px;
  border-radius: 10px;
}

.filter-dropdown-item {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  // -ms-overflow-style: none;
  // scrollbar-width: none;

  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

.notif-dropdown-card {
  width: 23em;
  max-height: 40em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.notif-item-unread {
  background-color: rgba($green, 0.05);
}

.notif-type-badge {
  position: absolute;
  margin-top: 1.6em;
  margin-left: 2em;
  width: 1.6em;
  height: 1.6em;
  border: 2px solid $white;
  border-radius: 50%
}