@import "../colors";

.label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.sublabel {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.input {
  width: 100%;
  height: 56px;
  border: 1px solid $dark-grey;
  border-radius: 10px;

  &:default {
    border: 1px solid $dark-grey;
  }

  &:invalid {
    border: 1px solid $red;
  }
}

.form-image-container {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 38%;
  width: 100%;
  background-color: $light-grey-3;
  border: 1px solid $light-grey-2;
  border-radius: 10px;
}

.form-image-background {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(251, 251, 251, 0) 100%
  );
  border-radius: 10px;
  object-fit: cover;
}

.profile-form-image-child {
  position: absolute;
  top: 0;
  width: auto;
  height: 100%;
  object-fit: cover;
}

.submit-idea-image-child {
  border-radius: 10px;
  object-fit: cover;
}

.image-input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  bottom: 1em;
  height: 2.5em;
  width: 2.5em;
  background-color: $white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
