@import "../colors";

.inbox-wrapper {
  border-color: $light-grey-1;
  border-radius: 12px;
}

.inbox-header {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 4.5em;
  border-radius: 12px 12px 0 0;
}

.list-header {
  background-color: $light-grey-3;
  border-bottom: 1px solid $light-grey-1 !important;
}

.list-body {
  height: 40.5em;
  overflow: auto;
}

.inbox-item {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  width: 100%;
}

.inbox-item-active {
  background-color: rgba($green, 0.05);
}

.inbox-item-separator {
  padding: 1rem 1rem 1rem 0;
  width: 100%;
  border-bottom: 1px solid $light-grey-2 !important;
}

.message-header {
  background-color: $white;
  box-shadow: inset 0 -0.0625em 0 $light-grey-2 !important;
}

.message-body {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 1rem;
  height: 36em;
  background-color: #f4f4f4;
}

.message-bubble {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  width: 20em;
  border-radius: 8px;
  box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.2) !important;
}

.message-received {
  background-color: $white;
}

.message-sent {
  margin-left: auto;
  background: linear-gradient(0deg, rgba($green, 0.1), rgba($green, 0.1)),
    $white;
}

.message-footer {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 4.5em;
  background-color: $light-grey-3;
  border-top: 1px solid $light-grey-1 !important;
  border-radius: 0 0 12px 12px;
}

.inbox-input {
  height: 3em;
  border-radius: 8px;
}

.message-input {
  margin-right: 1rem;
}

.send-message-button {
  width: 48px;
  height: 48px;
  background-color: $green;
  border: 0;
  border-radius: 50%;
}