.pagination-link{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #00af04;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.pagination-item.active .pagination-link{
    z-index: 3;
    color: #fff;
    background-color: #00af04;
    border-color: #00af04;
}
a:hover{
    color: #00af04;
}