@import "../colors";

// NAVIGATION -----------------------------

.current-profile-section {
  background-color: rgba($green, 0.05);
  color: $green;
  font-weight: bold;

  &:visited,
  :hover,
  :link,
  :focus {
    color: $green;
  }
}

// LEVEL CARD -----------------------------

.header-progress-bar {
  margin: 0;
  height: 6px;
}

.profile-progress-bar {
  margin-top: 10px;
  height: 6px;
}

.inside-progress-bar {
  background-color: $orange;
  border-radius: 10px;
}

// STATS ----------------------------------

.stats-container {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

.bg-stats-blue {
  background-color: rgba($blue, 0.05);
}

.icon-like-blue {
  fill: $blue;
}

.bg-stats-fuchsia {
  background-color: rgba($fuchsia, 0.05);
}

.icon-like-fuchsia {
  fill: $fuchsia;
}

.bg-stats-orange {
  background-color: rgba($orange, 0.05);
}

.icon-comment-orange {
  color: $orange;
}

.bg-stats-green {
  background-color: rgba(0, 175, 4, 0.05);
}

.icon-view-green {
  color: $green;
}

// ----------------------------------------
