// Color Palette Variables
$green: #00af04;
$teal: #306964;
$red: #f15038;
$yellow: #ffcd1a;
$black: #222222;
$dark-grey: #909090;
$light-grey-1: #dfdfdf;
$light-grey-2: #efefef;
$light-grey-3: #fafafa;
$white: #ffffff;
$orange: #fd9800;
$blue: #2811ff;
$fuchsia: #ef5da8;
$purple: #7367f0;

.bg-kalbe-green {
  background-color: #00af04;
  border-color: transparent;

  &:hover {
    background-color: #00af04;
    border-color: transparent;
  }
}

.bg-kalbe-red {
  background-color: $red;

  &:hover {
    background-color: $red;
  }
}

.bg-kalbe-yellow {
  background-color: $yellow;
}

.bg-kalbe-white {
  background-color: $white;
  box-shadow: none;
  outline: none;

  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    background-color: $white;
    box-shadow: none;
    outline: none;
  }
}

.bg-kalbe-darkGrey {
  background-color: $dark-grey;
}

.bg-kalbe-lightGrey {
  background-color: $light-grey-3;
}

.bg-kalbe-teal {
  background-color: $teal;
}

.bg-kalbe-orange {
  background-color: $orange;

  &:hover {
    background-color: $orange;
  }
}

.bg-kalbe-fuchsia {
  background-color: $fuchsia;
}

.bg-profile-gradient {
  background: linear-gradient(
      262.98deg,
      rgba(255, 255, 255, 0.6) 1.61%,
      rgba(255, 255, 255, 0) 104.91%
    ),
    #00af04;
}

.border-kalbe-green {
  border-color: $green;
}

.border-kalbe-white {
  border-color: $white;

  &:hover {
    border-color: $white;
  }

  &:focus {
    border-color: $white;
  }
}
