.flex-row-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}