@import "colors";

.border-radius-6 {
  border-radius: 6px;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-12 {
  border-radius: 12px;
}

.border-radius-top-12 {
  border-radius: 12px 12px 0 0;
}

.border-radius-20 {
  border-radius: 20px;
}

.border-radius-left-20 {
  border-radius: 20px 0 0 20px;
}

.border-radius-right-20 {
  border-radius: 0 20px 20px 0;
}

.border-radius-50 {
  border-radius: 50%;
}

.width-10 {
  width: 10%;
}

.width-20 {
  width: 20%;
}

.width-48 {
  width: 3em;
}

.width-60 {
  width: 60%;
}

.width-80 {
  width: 80%;
}

.width-topics {
  width: 480px;
}

.height-36 {
  height: 2.25em;
}

.height-48 {
  height: 3em;
}

.height-56 {
  height: 3.5em;
}

.progressBar-height {
  height: 6px;
}

.image-container {
  position: relative;
}

.image-ratio-ideaDetail {
  padding-top: 27%;
}

.image-ratio-profileForm {
  padding-top: 38%;
}

.image-ratio-2by1 {
  padding-top: 50%;
}

.image-ratio-1by1 {
  padding-top: 100%;
}

.image-inside {
  object-fit: cover;
}

.profile-photo-container {
  margin-top: -54px;
}

.profile-photo-inside {
  position: absolute;
  top: 0;
  object-fit: cover;
  border: 3px solid $black;
  border-radius: 50%;
}
