@import "colors";

.font {
  color: $black;
  margin: 0;
  text-decoration: none !important;

  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    color: $black;
  }
}

.heading1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

.heading2 {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}

.heading3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.app-header {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.body-copy {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  img {
    width: 100%;
  }
}

.detail-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.sub-detail-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}

.link {
  text-decoration: underline;
  text-decoration-color: $black;
}

.truncate-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate-two-line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-kalbe-green {
  color: $green;

  &:visited,
  :hover,
  :link,
  :focus {
    color: $green;
  }
}

.text-kalbe-red {
  color: #f15038;
}

.text-kalbe-yellow {
  color: #ffcd1a;
}

.text-kalbe-white {
  color: $white;

  &:visited,
  &:hover,
  &:link,
  &:focus {
    color: $white;
  }
}

.text-kalbe-darkGrey {
  color: $dark-grey;

  &:visited,
  &:hover,
  &:link,
  &:focus {
    color: $dark-grey;
  }
}

.text-kalbe-teal {
  color: $teal;

  &:visited,
  &:hover,
  &:link,
  &:focus {
    color: $teal;
  }
}

.text-kalbe-orange {
  color: #fd9800;
}

.text-kalbe-blue {
  color: #2811ff;
}

.text-kalbe-fuchsia {
  color: #ef5da8;
}
