
.home {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 12px 0px 12px 0px;
}


/* li :hover {
  background-color: #f1f1f1;
} */

.coverImg {
  width: 100%;
}

.homeIdeaCatalogBorder {
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 10px;
  /* margin: 10px; */
}

.bannerHome {
  background-color: #f1f1f1;
  display: grid;
  grid-template-columns: 30% 70%;
  border: 1px solid transparent;
  border-radius: 10px;
}

.bannerImg {
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

.bannerAbout {
  width: 100%;
  padding: 60px 0px 60px 30px;
}

.buttonSubmit{
  margin: 4px 4px 4px 0px;
  padding: 6px;
  color: black;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
}

.buttonLearnMore{
  margin: 4px 0px 4px 4px;
  padding: 6px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
}

.trendingIdeas {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
}

.companyUpdateContainer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.btn {
  border: none;
  border-radius: 50%;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.companyUpdate {
  width: 100%;
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
}

.coverImgCompanyUpdate {
  border-radius: 30px;
  width: 100%;
}

.trendingIdeasListContainer {
  /* max-width: 300px; */
  display: grid;
  /* grid-gap: 10px; */
  grid-auto-flow: column;
  overflow-x: auto;
  /* width: 200px; */
  /* white-space: nowrap;
  height: 200px; */
  /* grid-template-columns: auto auto; */
}

.trendingIdeasList {
  width: 100%;
  max-width: 300px;
}

.topIdeasGiverListContainer {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  overflow-x: auto;
  grid-gap: 10px;
  overflow-y: hidden;
}

.topIdeasGiverList {
  width: 100%;
  max-width: 100px;
  text-align: center;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.homeInformation {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
}

.homeInformationItem1 {
  border: 1px solid transparent;
  padding: 20px 0px 20px 0px;
  border-radius: 30px 0px 0px 30px;
  background-color: #306964;
}

.homeInformationItem2 {
  padding: 20px 0px 20px 0px;
  background-color: #00af04;
}

.homeInformationItem3 {
  padding: 20px 0px 20px 0px;
  background-color: #306964;
}

.homeInformationItem4 {
  padding: 20px 0px 20px 0px;
  border: 1px solid transparent;
  border-radius: 0px 30px 30px 0px;
  background-color: #00af04;
}

.container img {
  /* width: 100%;
  height: auto;
  object-fit: cover;         
  object-position: 100% 0;  
  object-position: 0 100%;  */
  border-radius: 5px;
  width: 175px;
  height: 175px;
  object-fit: cover;
}

.container .carouselBtn {
  position: absolute;
  width: 10%;
  top: 70%;
  margin-left: 90px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .carouselBtn:hover {
  background-color: black;
}

.container .btnTextCarousel{
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .container .carouselBtn {
    position: absolute;
    width: 20px !important;
    top: 70%;
    margin-left: 50px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 10px;
    padding: 0px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .container .btnTextCarousel{
    margin-bottom: 0;
    margin-left: -10px;
  }
} 