
.inputLogin{
  width: 97%;
  padding: 12px 0px 12px 6px;
  margin: 12px 0px 12px 0px;
}

.forgetPassword{
  padding-left: 12;
  text-decoration: none;
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .grid_container {
    display: grid;
    /* max-width: 1000px; */
    margin: 0 auto;
    grid-template-columns: 60% 40%;
    min-height: 100%;
    width: 100%;
    position: absolute;
  }
  .loginLeft {
    /* margin-top: 8vh;
    padding: 1vh; */
    background-color: #FBFBFB;
    height: 100%;
    text-align: center;
  }
  .loginRight {
    background-color: #ffffff;
    padding: 160px 20px 20px 20px;
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
    /* height: 100%; */
  }
  .buttonLogin{
    width: 100%;
    background-color: #00af04;
    color: white;
    /* padding: 12px; */
    padding: 12px 0px 12px 6px;
    margin: 12px 0px 12px 0px;
    /* margin: 2px 12px 2px 12px; */
  }
  .fieldLogin{
    width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .grid_container {
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: 100%;
    min-height: 100%;
  }
  .loginLeft {
    background-color: #c4c4c4;
    height: 100%;
    padding: 70px;
    text-align: center;
  }
  .loginRight {
    background-color: #ffffff;
    padding: 20px;
    height: 100%;
  }
  .buttonLogin{
    width: 100%;
    background-color: #00af04;
    color: white;
    padding: 12px;
    margin: 12px 12px 12px 0px;
  }
  .fieldLogin{
    width: 100%;
  }
}