@import 'bootstrap/scss/bootstrap';

// Main Properties & Variables
@import "./colors";
@import "./typography";
@import "./sizing";
@import "./carousel";
@import "./display";

// Main Components
@import "./components/button";
@import "./components/card";
@import "./components/dropdown";
@import "./components/form";
@import "./components/inbox";
@import "./components/pagination";
@import "./components/profile";

// Vuexy - Base Styling
@import "./vuexy/base/badge";
@import "./vuexy/base/card";
@import "./vuexy/base/dropdown";
@import "./vuexy/base/pagination";
@import "./vuexy/base/tables";

// Vuexy - React Styling
@import "./vuexy/react/reactstrap/dropdown";
@import "./vuexy/react/reactstrap/pagination";

// Additional Custom Styling
@import "./components/badge";
@import "./vuexy/custom/badge";
@import "./vuexy/custom/container";
@import "./vuexy/custom/table";

// Google Fonts API
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

$source-sans-pro: "Source Sans Pro", sans-serif !important;

html,
body {
  font-family: $source-sans-pro;
}

.absolute {
  position: absolute;
}

.object-fit-cover {
  object-fit: cover;
}

.modal-backdrop {
  background-color: #D3D3D3;
}
