.container {
    top: 50%;
    left: 50%;
    position: absolute;
  }
  .spinner {
    box-sizing: border-box;
    z-index: 5000;
    transform: translate(-50%, -50%) rotate(90deg);
    display: block;
    left: 5%;
    color: #ddd;
    font-size: 0;
    width: 56px;
    height: 56px;
  }
  .spinner div {
    box-sizing: border-box;
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%) rotate(90deg);
    display: inline-block;
    float: none;
    background-color: #41867a;
    border: 0 solid white;
    margin-top: -4px;
    margin-left: -4px;
    border-radius: 100px;
    animation: ball-spin-clockwise 1s infinite ease-in-out;
    height: 10px;
    width: 10px;
  }
  
  .spinner div:nth-child(1) {
    top: 5%;
    left: 50%;
    animation-delay: -0.875s;
    color: #fe4849;
  }
  
  .spinner div:nth-child(2) {
    top: 18.1801948466%;
    left: 81.8198051534%;
    animation-delay: -0.75s;
    color: #ff6837;
  }
  
  .spinner div:nth-child(3) {
    top: 50%;
    left: 95%;
    animation-delay: -0.625s;
    color: #f8d832;
  }
  
  .spinner div:nth-child(4) {
    top: 81.8198051534%;
    left: 81.8198051534%;
    animation-delay: -0.5s;
    color: #c7e46a;
  }
  
  .spinner div:nth-child(5) {
    top: 94.9999999966%;
    left: 50.0000000005%;
    animation-delay: -0.375s;
    color: #1de9b6;
  }
  
  .spinner div:nth-child(6) {
    top: 81.8198046966%;
    left: 18.1801949248%;
    animation-delay: -0.25s;
    color: #1ad1a3;
  }
  
  .spinner div:nth-child(7) {
    top: 49.9999750815%;
    left: 5.0000051215%;
    animation-delay: -0.125s;
    color: #01b6f5;
  }
  
  .spinner div:nth-child(8) {
    top: 18.179464974%;
    left: 18.1803700518%;
    animation-delay: 0s;
    color: #5c56b6;
  }
  @-webkit-keyframes ball-spin-clockwise {
    0%,
    100% {
      opacity: 1;
      transform: scale(1);
    }
  
    20% {
      opacity: 1;
    }
  
    80% {
      opacity: 0;
      transform: scale(0);
    }
  }
  
  @-moz-keyframes ball-spin-clockwise {
    0%,
    100% {
      opacity: 1;
      transform: scale(1);
    }
  
    20% {
      opacity: 1;
    }
  
    80% {
      opacity: 0;
      transform: scale(0);
    }
  }
  
  @-o-keyframes ball-spin-clockwise {
    0%,
    100% {
      opacity: 1;
      transform: scale(1);
    }
  
    20% {
      opacity: 1;
    }
  
    80% {
      opacity: 0;
      transform: scale(0);
    }
  }
  
  @keyframes ball-spin-clockwise {
    0%,
    100% {
      opacity: 1;
      transform: scale(1);
    }
  
    20% {
      opacity: 1;
    }
  
    80% {
      opacity: 0;
      transform: scale(0);
    }
  }
  